---
import { Image } from 'astro:assets';

import Button from './/Button.astro';
import Link from './/Link.astro';
import Text from './/Text.astro';

import { practices } from './practices.ts';

interface Props {
	filter?: string[];
	limit?: number;
}

const properties = Astro.props;

const images = await Promise.all(
	practices.map(async (practice) => {
		const image = await import(
			`../assets/practices/${practice.image}.jpg`
		);
		return image.default;
	}),
);

/*
properties.filter
	? (team = team.filter(
			(member) => properties.filter != undefined && properties.filter.includes(member.name)
	  ))
	: null
*/
---

<div
	class="grid w-full grid-cols-1 items-center justify-center gap-4 md:gap-2 py-8 sm:grid-cols-2 md:grid-cols-3"
>
	{
		practices.map((practice, index) => (
			<div class="flex h-full flex-col items-start justify-start bg-white pb-4 text-left gap-4 duration-150 hover:shadow-lg">
				<Link
					href={`${practice.href}/`}
					class={
						properties.limit
							? properties.limit != undefined &&
							  index >= properties.limit
								? 'hidden'
								: null
							: null
					}
				>
					<Image
						src={images[index]}
						alt="Practice Image"
						class="mb-auto min-h-[200px] h-[200px] object-cover w-full"
						transition:name={practice.href}
						transition:persist={practice.href}
					/>

					<div class="flex h-full flex-col gap-4 px-8 pt-8">
						<Text
							type="title-sm"
							style="sans"
							class="flex flex-row items-center gap-2"
						>
							{practice.name}
						</Text>
						<Text>{practice.address}</Text>
					</div>
				</Link>

				<Link
					class="px-8 pb-4 mt-auto"
					href={`tel:${practice.phone.replaceAll(' ', '')}`}
				>
					<Button style="secondary">
						<Text>{practice.phone}</Text>
					</Button>
				</Link>
			</div>
		))
	}
</div>

{
	properties.limit ? (
		<div
			id="team"
			class="mx-auto flex w-full flex-row items-center justify-center"
		>
			<Button style="primary" id="team">
				Meet the full team
			</Button>
		</div>
	) : null
}
