---
import Header from '../../components/public/layout/Header.astro';
import Button from '../../components/public/Button.astro';
import Hero from '../../components/public/layout/Hero.astro';
import Treatments from '../../components/private/Treatments.astro';
import Page from '../../components/private/Page.astro';
import Section from '../../components/public/Section.astro';
import Link from '../../components/public/Link.astro';
import Awards from '../../components/private/Awards.astro';
import Team from '../../components/private/Team.astro';
import Text from '../../components/public/Text.astro';
import Icon from '../../components/public/Icon.astro';
import Testimonials from '../../components/private/Testimonials.astro';

import { practices } from '../../components/private/practices.ts';

export async function getStaticPaths() {
	return practices.map((practice) => {
		return { params: { practice: practice.href } };
	});
}

const practice = practices.find((p) => p.href === Astro.params.practice);
---

<Page title="" description="" keywords="">
	<Header name="practice" base={`/${practice?.href}`} />

	<div class="w-full bg-blue">
		<div class="mx-auto max-w-screen-lg px-2 py-4">
			<Text class="text-center text-white">
				We are currently accepting new NHS and Private patients, please <Link
					href="notices"
					class="underline"
				>
					click here
				</Link> for further information.
			</Text>
		</div>
	</div>

	<div class="w-full block relative h-[600px] mx-auto">
		<img
			class="w-full h-full object-cover block"
			transition:name={practice.href}
			transition:persist={practice.href}
			src={`/images/practices/${practice?.image}`}
		/>

		<div
			class="absolute inline-block text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 px-16 py-8 bg-white/50 backdrop-blur-lg rounded-lg"
		>
			<Text type="title-xl" weight="black">
				Welcome to <div class="inline-block text-blue">
					{practice?.name}
				</div>
			</Text>

			<Text>Setting the Gold Standard in Dental Care.</Text>

			<Button style="primary" size="medium" class="mt-4">
				<Link class="flex flex-row gap-2" href="tel:01159700007">
					<Icon type="phone" />0115 970 0007
				</Link>
			</Button>
		</div>
	</div>

	<Section size="lg">
		<Fragment slot="title">
			Well established, with long serving staff
		</Fragment>
		<Fragment slot="body">
			<Text>
				At Seven Dental in the centre of Nottinghamshire, we aim to meet
				our patient's expectations and deliver exceptional patient care
				that puts our patients at the heart of everything we do. We aim
				to deliver this approach in all aspects of our service to you.
			</Text>

			<Text>
				In our practice you will find up to 20 highly qualified dentists
				- including dentists that focus on cosmetic dental care
				provision, and staff members who aim to deliver the very best
				quality in patient care to you throughout Nottinghamshire. In
				addition to this we also offer our patients flexible working
				hours, which takes into consideration the needs of our patients
				and their families with busy lives.
			</Text>

			<Text>
				If you would like straighter teeth, or a brighter, whiter smile,
				or even if you would prefer to have natural teeth coloured
				fillings instead of the traditional grey or black fillings,
				please call us on 0115 970 0007 and speak to one of our friendly
				reception team and ask for a cosmetic care consulation - this is
				currently available for a limited period only at a cost of
				£30.00 that is payable in advance to see a dentist to discuss
				your needs.
			</Text>
		</Fragment>
	</Section>

	<Section size="lg" class="bg-gray6">
		<Fragment slot="title">Dental Care for Everyone</Fragment>
		<Fragment slot="body">
			<Text>
				At Seven Dental, we believe everyone deserves a radiant smile
				and top-tier dental care. We proudly open our doors to all
				individuals, regardless of whether you're an existing patient or
				looking to visit us for the first time. We offer a wide variety
				both NHS and Private Treatments available to patients of any
				age. Our commitment is unwavering: to provide exceptional dental
				services to every patient, no matter their age or background.
				Entrust us with your dental health, and experience the warmth
				and professionalism that defines our practice. Our telephone
				number is
				<Link class="text-black underline" href={'tel:01159700007'}>
					0115 970 0007
				</Link>
			</Text>
		</Fragment>
	</Section>

	<Section class="bg-blue text-white" size="lg">
		<Fragment slot="title">Emergencies</Fragment>

		<Fragment slot="body">
			<Text type="body" weight="normal">
				To be seen in the event of an emergency, simply call 111 or
				contact the practice either by phone or in person and we will
				try our best to provide treatment for your situation.
			</Text>

			<Text type="body" weight="normal" class="hidden md:block">
				You can contact the practice at <Link
					class="text-white underline"
					href={'tel:01159700007'}
				>
					0115 970 0007
				</Link>
			</Text>

			<div class="mt-4 flex flex-row gap-4 md:hidden">
				<Button style="secondary">Call Us</Button>
				<Button style="secondary">Call 111</Button>
			</div>
		</Fragment>
	</Section>

	<Section class="bg-gray6" size="lg">
		<Fragment slot="title">Our Treatments</Fragment>

		<Fragment slot="caption">
			Whether you're looking for General Dental Treatment or Cosmetic
			Care, we at Seven Dental offer a wide variety of treatment options
			available to everyone.
		</Fragment>

		<Fragment slot="body">
			<Treatments
				toggles={true}
				filter={{
					limit: 6,
				}}
			/>
		</Fragment>
	</Section>

	<!--<Section size="lg">
		<Fragment slot="title">Our Expert Team</Fragment>
		<Fragment slot="caption">
			Meet the amazing team dedicated to providing only the best treatment
			for you.
		</Fragment>

		<Team slot="body" limit={4} />
	</Section>
	 -->

	<Section size="lg" class="bg-gray6">
		<Fragment slot="title">Multi-Award Winning Dentistry</Fragment>
		<Fragment slot="caption">
			Seven Dental is a modern, diverse and multi-cultural dental practice
			that has been designed with setting the Gold Standard in Dental Care
			provision in mind and consistently demonstrates steadfast dedication
			and commitment to providing a highly professional and friendly
			service to both NHS and Private patients alike.
		</Fragment>

		<Fragment slot="body">
			<Awards />
		</Fragment>
	</Section>

	<div class="w-screen max-w-full">
		<Section class="mb-0 pb-0" size="lg">
			<Fragment slot="title">Testimonials</Fragment>
			<Fragment slot="caption">
				Don't just take it from us. See what our patients say.
			</Fragment>

			<Fragment slot="buttons">
				<Button style="secondary">
					<Link href={null}>See more on Google</Link>
				</Button>
			</Fragment>
		</Section>

		<Testimonials />
	</div>
</Page>
